@import '../../variables.scss';

.loader {
  border: 7px solid $primary-color;
  border-left-color: $secondary-color;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
