@import '../../../variables.scss';

.button {
  padding: 10px;
  border-radius: 7px;
  transition: all 0.3s;
}

.primary {
  background-color: $secondary-color;
}
.secondary {
  background-color: $primary-color;
  box-shadow: 7px 7px 7px $shadow-color;
  &:hover {
  }
}
