@import '../../../variables.scss';

.input {
  width: 100%;
  transition: all 0.3s;
}

.primary {
  padding: 12px 0px;
  border-bottom: 4px solid $text-secondary-color;
  // background-color: $bg-primary-color;
  &:focus {
    border-bottom: 6px solid $secondary-color;
  }
}
.secondary {
  padding: 15px 20px;
  border-radius: 7px;
  background-color: $bg-primary-color;
}

.invalid {
  outline: 2px solid red;
}
