@import '../../../variables.scss';

.input {
  padding: 15px 20px;
  box-shadow: 0px 0px 5px $shadow-color;
  border-radius: 7px;
}

.primary {
  outline: 2px solid $secondary-color;
  // background-color: $bg-primary-color;
}
.secondary {
  background-color: $bg-primary-color;
}
