@import '../../variables.scss';

.radioButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.radioButtonButton {
  border-radius: 7px;
  padding: 30px;
  transition: all 0.3s;
  border: none;
  background-color: $link-hover-color;
}

.selected {
  border: 3px solid $secondary-color;
}
