@import '../../variables.scss';

.searchBar {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  border-radius: 7px;
  box-shadow: 7px 7px 7px $shadow-color;
}
