@import '../../variables.scss';

.searchBar {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 7px $shadow-color;
  max-width: 500px;

  .btn {
    background-color: $bg-link-color;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    // color: $link-color;
  }
}
