$font-family: 'Montserrat', sans-serif;
$font-size: 18px;
$font-weight: 400;

$primary-color: white;
$secondary-color: rgb(181, 222, 255);
$bg-link-color: rgba(200, 229, 252, 0.301);
$bg-color: rgb(243, 243, 243);
$link-hover-color: rgba(181, 222, 255, 0.217);
$link-color: rgba(99, 99, 255, 0.849);
$text-primary-color: rgb(34, 34, 34);
$text-secondary-color: rgb(235, 235, 235);
$shadow-color: rgba(20, 20, 20, 0.087);
