@import '../../variables.scss';

.homePage {
  .panel {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: $secondary-color;
  }
  .search {
    padding: 0px 10px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 25px;
    left: 0px;
    width: 100vw;
  }
}
