@import '../../variables.scss';

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .content {
    width: 100%;
    padding: 0px 40px;
  }

  .words {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;

    .btn {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.panel {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  gap: 20px;
  background-color: $secondary-color;
  position: fixed;
  bottom: 0;
  z-index: 99;
  .title {
    font-family: 400;
    font-size: 18px;
  }
  input {
    flex: 2;
  }
  button {
    flex: 1;
  }
}
