@import '../../variables.scss';

.item {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  //   background-color: $primary-color;
  border-radius: 7px;
  border: 5px solid $primary-color;
  box-shadow: 7px 7px 7px $shadow-color;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 2px solid $bg-color;
  }
}
